.App {
  text-align: center;
  background-color: #fffaf0;
  color: #8b4513;
  font-family: 'Garamond', serif;
}

.dark-mode {
  background-color: #000000;
  color: #f5f5dc;
}

.App-header {
  background-color: #8b4513;
  /* background-image: url('bg.png'); Add your background image */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 90%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 223, 186, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button styling for heading */
.heading-icon {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: goldenrod; /* Blue color */
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.heading-icon:hover {
  background-color: #7f5300;
}


.header-logo {
  width: 100px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between the logo and the text */
}


.basket-header-icon {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -16px;
  right: -0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.wedding-board {
  position: relative;
  padding: 20px;
  border: 5px solid gold;
  border-radius: 10px;
  background-color: rgba(139, 69, 19, 0.8); /* Slightly transparent to let background image show through */
  box-shadow: 0 0 15px rgba(255, 223, 186, 0.8);
}

.wedding-board h1 {
  font-size: 2.5em;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.lighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.lighting::before, .lighting::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url('path-to-your-lighting-image.png') no-repeat center center; */
  background-size: cover;
  opacity: 0.6;
  pointer-events: none;
}

.lighting::before {
  animation: flicker 1.5s infinite alternate;
}

.lighting::after {
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 0.7; }
  100% { opacity: 0.9; }
}

.controls {
  margin: 20px;
}

.controls button {
  background-color: #000000;
  color: goldenrod;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #a0522d;
}

.controls input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #8b4513;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Ensures items stay in a row when scrolling */
  max-height: 200px; /* Limits the height to fit two rows */
}

.category {
  display: inline-flex; /* Ensures the items align horizontally */
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 30%; /* Controls the width of each item */
}

.category img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.category button {
  margin-top: 5px;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}



/* Media query for mobile screens */
@media (max-width: 768px) {
  .categories {
    flex-wrap: nowrap; /* No wrapping to maintain horizontal scroll */
    overflow-x: scroll; /* Horizontal scroll on mobile */
    overflow-y: hidden; /* Disable vertical scroll */
  }

  .category {
    width: auto; /* Items resize dynamically in the row */
    margin-right: 10px; /* Add space between the items */
  }
}


.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-basket {
  flex: 1;
  border-left: 2px solid #8b4513;
  padding-left: 20px;
}

.menu-item {
  background-color: #fff;
  border: 1px solid #8b4513;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
  border-radius: 2%;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #8b4513;
  border-radius: 10%;
}

.item-details {
  padding: 10px;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-actions button {
  background-color: #8b4513;
  color: #f5f5dc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-actions button:hover {
  background-color: #a0522d;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .menu-item {
    width: calc(45% - 25px); /* Adjust width to fit two items per row */
  }
  
  .cart-basket {
    border-left: none;
    padding-left: 0;
  }
}



.checkout-button {
  background-color: #000000; /* White background for contrast */
  color: #ffcc00; /* Gold color for text */
  border: 2px solid #ffcc00; /* Gold border */
  border-radius: 5px; /* Slightly rounded corners */
  padding: 5px 10px; /* Small padding for small button size */
  font-size: 14px; /* Adjust font size for small buttons */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.checkout-button:hover {
  background-color: #ffcc00; /* Gold background on hover */
  color: #fff; /* White text on hover */
}
/* Style for basket payment button */
.payment-button {
  background-color: #000000; /* White background for contrast */
  color: #ffcc00; /* Gold color for text */
  border: 2px solid #ffcc00; /* Gold border */
  border-radius: 5px; /* Slightly rounded corners */
  padding: 5px 10px; /* Small padding for small button size */
  font-size: 14px; /* Adjust font size for small buttons */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.payment-button:hover {
  background-color: #ffcc00; /* Gold background on hover */
  color: #fff; /* White text on hover */
}

/* Add gap between buttons */
.checkout-button + .payment-button {
  margin-left: 10px; /* Adjust gap between buttons */
}
/* Dark mode adjustments */
.dark-mode .controls button,
.dark-mode .categories button,
.dark-mode .item-actions button,
.dark-mode .checkout-button {
  background-color: #2e2923;
  color: goldenrod;
}
.dark-mode .basket {
  background-color: #000000e3;
  color: goldenrod;
}
.dark-mode .App-header {
  background-color: #140b01;
}
.dark-mode .controls input,.payment-content, .checkout-form,
.dark-mode .checkout-form input {
  border: 1px solid #4b5d5f;
  color: #000000;
}

.dark-mode .menu-item {
  background-color: #271b1b;
  border: 1px solid #4b5d5f;
}

.dark-mode .menu-item img {
  border-bottom: 1px solid #4b5d5f;
}
/* Basket Styles */
.basket {
  position: fixed;
  right: 20px;
 bottom: 20px; /* Position the icon at the bottom */
  background-color: #640000;
  border: 1px solid #3d3d3d;
  color: goldenrod;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1000;
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
.payment-option {
  padding: 10px; /* Adds some padding for spacing */
  border: 1px solid #000000; /* Optional: Adds a light border */
  border-radius: 5px; /* Optional: Rounds the corners */
  margin: 0 auto; /* Centers the container if it's inside a parent element */
  text-align: left; /* Aligns the content to the left */
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Aligns items vertically centered */
  background-color: #e2a048e3;
}

.payment-option h4 {
  margin: 0; /* Ensures minimal margin */
  font-size: 26px; /* Adjusts heading size */
  margin-right: 15px; /* Adds spacing between the heading and options */
}

.payment-option label {
  display: inline-block; /* Displays labels inline horizontally */
  margin-right: 15px; /* Adds some spacing between the options */
}


.basket.open {
  height: auto;
  width: 300px;
  max-height: 400px;
  opacity: 1;
}

.basket.closed {
  height: 40px; /* Adjust height for the compressed state */
  width: 40px; /* Width for the compressed state */
  opacity: 0.8;
  overflow: hidden;
  padding: 5px; /* Adjust padding for compressed state */
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.basket-header-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.basket.closed .basket-header {
  display: none;
}

.basket.closed .basket-header-icon {
  display: block;
  text-align: center;
  line-height: 30px; /* Adjust line height for icon centering */
}

.basket-content {
  display: flex;
  flex-direction: column;
}

.basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.basket-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.basket-item-details {
  flex: 1;
}

.basket-item-name {
  font-size: 1em;
  font-weight: bold;
}



.basket-item-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.basket-item-actions button {
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.basket-item-actions button:hover {
  background: #e0e0e0;
}

.basket-item-actions span {
  font-size: 1em;
  padding: 0 10px;
}

.basket-footer {
  border-top: 1px solid #af8000;
  padding-top: 10px;
  text-align: center;
}

.basket-footer button {
  background: #d48114;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}



/* Checkout Form Styles */
.checkout-form {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  background: #e2a048e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.checkout-form input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  color: #333;
}

.checkout-form input:focus {
  border-color: #8b4513;
  outline: none;
  box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.2);
}

.checkoutbutton {
  background-color: #8b4513;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.checkoutbutton:hover {
  background-color: #a0522d;
}

.checkoutbutton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.payment-content {
  border: 0px solid #ddd;
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e2a048e3;
}

#upiDetails {
  margin-top: 20px;
  text-align: center;
}

#qrcode {
  margin: 20px auto;
  width: 200px;
  height: 200px;
}

.c5 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5e3902;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.c5:hover {
  background-color: #0056b3;
}
